.productos-list {
    display: grid;
    grid-template-columns: minmax(250px, 400px);
    gap: 1.5rem;
    justify-content: center;
    margin: 2rem 1.5rem;
}

.producto {
    box-shadow: 0 3px 8px 1px gray;
    background-color: grba(223, 215, 191, .3);
    padding: 1rem 1rem 1.2rem;
}

.producto__img {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.producto__descripcion {
    margin-top: 15px;
    font-family: cursive;
    text-align: center;
}

@media screen and (min-width: 768px) {

    .productos-list {
        grid-template-columns: repeat(2, minmax(250px, 400px));
    }
}

@media screen and (min-width: 1024px) {
    .productos-list {
        grid-template-columns: repeat(3, minmax(250px, 400px));
    }
}