@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import './_inicio.css';
@import './_productos.css';
@import './_clases.css';
@import './_galeria.css';
@import './_contactos.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Permanent Marker', cursive;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/* ------------------ Header ------------------ */
.header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    background-color: #F2EAD3;
    color: #000000;
    box-shadow: 0 0 8px 0 #000000;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #000000;
    text-decoration: none;
}

.logo__img {
    width: 4rem;
    height: 4rem;
    padding: .2rem;
    display: inline-block;
}

.navbar__ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    justify-content: center;
}

.navbar__a {
    text-decoration: none;
    color: #000000;
}

.navbar__a--actual {
    color: #3F2305;
    text-shadow: 0 1px 1px #3F2305;
}

/* ------------------ Main ------------------ */
main {
    grid-area: main;
    background-color: #F2EAD3;
    min-height: 87vh;
}

.header-section {
    background-color: #3F2305;
    color: #F5F5F5;
    text-align: center;
    padding: 2rem;
}

/* ------------------ Footer ------------------ */
.footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    background-color: #DFD7BF;
    text-align: center;
    padding: 1.2rem 2rem;
}

.footer__redes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.redes__a {
    color: #000000;
}

.redes__a:hover {
    color: #3F2305;
}

@media screen and (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}