@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}

@mixin elementColor($background-color, $text-color) {
    background-color: $background-color;
    color: $text-color;
}

@mixin keepUp() {
    position: sticky;
    top: 0;
    z-index: 1;
}

@mixin tambalearTexto() {
    animation-name: tambalearTexto;
    animation-duration: 1s;
    animation-iteration-count: infinite;

    @keyframes tambalearTexto {
        0% {
            transform: rotate(-2deg);
        }

        50% {
            transform: rotate(2deg);
        }

        100% {
            transform: rotate(-2deg);
        }
    }
}