body {
    @include elementColor($color-primary, $color-text);
    font-family: 'Permanent Marker', cursive;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}