.footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    background-color: $color-secondary;
    text-align: center;
    padding: 1.2rem 2rem;
}

.footer__redes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.redes__a {
    color: $color-text;
}

.redes__a:hover {
    color: $color-accent;
}
