.footer {
    @include elementColor($color-secondary, $color-text);
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 1.2rem 2rem;
}

.footer__redes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .redes__a {
        color: $color-text;

        &:hover {
            color: $color-accent;
        }
    }
}