.header {
    @include keepUp();
    @include elementColor($color-primary, $color-text);
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    box-shadow: 0 0 8px 0 black;
}